.container-items{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.finders{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.name-title{
    text-align: left;
    margin-left: auto;
}

.item{
    max-height: 20em;
    margin: 2px;
}

.item img{
    width: 20em;
    margin-bottom: 3em;
    max-height: 100%;
}