.container-searchWithFilter{
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-searchWithFilter form .container-input-searchWithFilter{
    width: 20em;
}