.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-bottom: 2px solid red;
}

.container-header .menu-header{
    margin-right: 2em;
    height: 50%;
}

.container-header img{
    width: 8em;
}